/* FONTS */
$font-primary: "Roboto Condensed";

/* COLORS */
$color-primary: #f69922;
$color-primary-dark: darken(#f69922, 15%);
$color-primary-light: lighten(#f69922, 15%);
$color-secondary: #3b4ea1;
$color-secondary-dark: darken(#3b4ea1, 15%);
$color-secondary-light: lighten(#3b4ea1, 15%);

$color-text: #222;

/*
    Media query breakpoints:
    991px

*/
